/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Post 13 uagb rm title wrap **/
.cardapiohome #post-13 .uagb-rm__title-wrap {
	
}

/** Geral >> Post 13 uagb rm text wrap **/
#post-13 .cardapiohome .uagb-rm__text-wrap {
	
}

/** Geral >> Cardapiohome uagb rm text wrap **/
#post-13 .cardapiohome .uagb-rm__text-wrap {
	width: 270px !important;
}

/** Geral >> Post 13 uagb rm title wrap _2 **/
#post-13 .cardapiohome .uagb-rm__title-wrap {
	width: 128px !important;
}

/** Geral >> Post 13 uagb rm price **/
#post-13 .preccardapiohome .uagb-rm__price {
	width: 50% !important;
}

/** Geral >> Post 13 uagb rm price wrap **/
#post-13 .precocardapiohome.uagb-rm__price-wrap {
	width: 44.2% !important;
}

/** Geral >> Post 13 uagb rm price wrap _2 **/
#post-13 .precocardapiohome .uagb-rm__price-wrap {
	width: 28.2% !important;
}

/** Geral >> Post 13 uagb rm price wrap _3 **/
#post-13 .preçocardapiohome .uagb-rm__price-wrap {
	width: 71px !important;
}

/** Geral >> Uagb block cef2d644 uagb rm price wrap **/
.uagb-block-cef2d644 .uagb-rm__price-wrap {
	
}

/** Geral >> Post 13 uagb rm price _3 **/
#post-13 .uagb-rm__price {
	
}

/** Geral >> uagb rm price **/
#post-13  .uagb-rm__price {
	
}

/** Geral >> Post 13 uagb rm price wrap _4 **/
#post-13 .uagb-rm__price-wrap {
	
}

/** Geral >> uagb rm price _2 **/
#post-13  .uagb-rm__price {
	width: 71px !important;
}

